@charset "UTF-8";
@import "~bulma/bulma";

@import url('https://fonts.googleapis.com/css?family=Peralta');

$brown: #795548;
$light-brown: #a1887f;
$dark-brown: #5d4037;

#content {
	>img {
		width: 250px;
	}
}
nav {
	img {
		width: 40;
		height: 32;
	}
    .title {
        font-family: 'Peralta';
        color: $black-ter !important;
    }
    border-bottom: 1px solid $border;
    box-shadow: $shadow;
    // background-color: $white-bis;
 }

 html {
    background-color: $background;
 }

 #home {
    img {
        border-radius: $radius;
    }
 }